/* General Styles */
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    background-color: #fdf6e3;
    color: #333;
}

/* Header */
header {
    background: #503333;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 50% 50%;
}


.logo {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 15;
}

.nav-links a {
    color: #f9f0f0;
    text-decoration: none;
    font-size: 15pt;
}

.nav-links a:hover {
    text-decoration: underline;
    font-size: 20pt;
}
